@charset "UTF-8";
@font-face {
  font-family: 'Gotham-Black';
  src: url(fonts/Gotham-Black.ttf) format("truetype"); }

@font-face {
  font-family: 'Gotham-Medium';
  src: url(fonts/GothamMedium.ttf) format("truetype"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham-Black";
  font-size: 5px; }

body {
  background: linear-gradient(70deg, #1192e8 0%, #604fc9 80%);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh; }

.loading {
  color: #ffffff;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.container {
  opacity: 0;
  display: flex;
  transition: 0.4s ease all;
  overflow: hidden;
  height: 100vh; }
  @media (min-width: 769px) {
    .container {
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start; } }
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: stretch; } }
  .container.container-error {
    transition: 0.4s ease all;
    opacity: 0;
    display: none;
    background: linear-gradient(70deg, #1192e8 0%, #604fc9 80%);
    background-color: #1192e8; }
    .container.container-error .error-message {
      background-color: rgba(255, 255, 255, 0.6);
      color: #000000;
      padding: 2.7em;
      height: 100vh; }
      .container.container-error .error-message .section-inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 80vh;
        margin: auto;
        max-width: 480px; }
      .container.container-error .error-message p {
        font-size: 4rem;
        font-family: "Gotham-Medium";
        margin: auto;
        line-height: 1.6; }
      .container.container-error .error-message button {
        font-size: 3rem;
        padding: 1.8em 3.6em;
        border: 1px solid #ffffff;
        background: rgba(255, 255, 255, 0.6);
        color: #33b1ff;
        text-align: center;
        display: block;
        margin: auto;
        transition: 0.4s ease all; }
        .container.container-error .error-message button:hover {
          cursor: pointer;
          background-color: white; }

.location-data {
  padding: 18em 3.6em 5.4em 5.4em;
  background-image: url("images/pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  background-color: black; }
  @media (min-width: 768px) {
    .location-data {
      min-width: 320px;
      padding-top: 10.8em; } }
  .location-data h1 {
    font-size: 5rem;
    color: #33b1ff;
    line-height: 1.8; }
  .location-data h2, .location-data span {
    font-size: 4.0625rem;
    color: #ffffff;
    font-family: "Gotham-Medium"; }

.weather-data {
  padding: 5.4em; }
  @media (min-width: 768px) {
    .weather-data {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: flex-start;
      width: 100%;
      max-width: 480px;
      padding: 10.8em 7.2em; } }
  .weather-data i {
    font-size: 24rem;
    color: #ffffff;
    padding: 0.2em 0;
    display: block !important;
    text-align: center;
    margin: auto;
    max-width: 480px; }
    @media (max-width: 768px) {
      .weather-data i {
        padding: 0.5em 0 0.2em;
        margin: inherit;
        max-width: 320px; } }
  .weather-data h1 {
    font-size: 7.18rem;
    color: #ffffff; }
  .weather-data h2 {
    font-size: 5.625rem;
    color: #ffffff;
    line-height: 1.8; }
    .weather-data h2::after {
      content: 'Ëš';
      font-size: 6.1875rem; }
  .weather-data p {
    font-size: 3.75rem;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.5; }

@keyframes flickerAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes flickerAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.animate-flicker {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite; }
